*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:burlywood;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  padding: 8px;
  margin-bottom: 50px;
}

.rock{
  background-image: url(images/rock.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;


  
}
.scissors {
  background-image: url(images/scissors.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}



.paper {
  background-image: url(images/paper.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.choice {
outline: none;
border: 10px solid burlywood;
line-height: 2;
border-radius: 20px;
display: inline-block;
width: 200px;
height: 200px;
margin: 10px;
background-color: burlywood;
transition-duration: 0.6s;



}

.choice:hover{
  cursor: pointer;
  background-color: lightyellow;
  transform: translate3d(5px, -2px, 0);

}
img {
  width: 200px;
  height: 200px;
}

img:hover {
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-area {
  text-align: center;
}

.score{
  text-align: center;
}

.restart {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-top: 50px;
  display: none;
  cursor: pointer;
  
  
  font-size: 16px;
 
 
  
}
